POSTGRES_DB=change_me_db_name
POSTGRES_USER=change_me_db_user
POSTGRES_PASSWORD=change_me_db_password
BACKEND_IMAGE=ghcr.io/your-github-user/conduit-backend:<commit-sha>
FRONTEND_IMAGE=ghcr.io/your-github-user/conduit-frontend:<commit-sha>

DJANGO_SECRET_KEY=change_me_django_secret_key
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,<your-vm-ip-or-domain>
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_NAME=${POSTGRES_DB}
DJANGO_DB_USER=${POSTGRES_USER}
DJANGO_DB_PASSWORD=${POSTGRES_PASSWORD}
DJANGO_DB_HOST=database
DJANGO_DB_PORT=5432
DJANGO_CORS_ORIGIN_WHITELIST=http://localhost:8282,http://127.0.0.1:8282,http://<your-vm-ip-or-domain>:8282
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60

FRONTEND_API_URL=/api
BACKEND_PORT=8000
FRONTEND_PORT=8282
