POSTGRES_DB=conduit
POSTGRES_USER=conduit
POSTGRES_PASSWORD=conduit

DJANGO_SECRET_KEY=change-me-in-real-usage
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_NAME=${POSTGRES_DB}
DJANGO_DB_USER=${POSTGRES_USER}
DJANGO_DB_PASSWORD=${POSTGRES_PASSWORD}
DJANGO_DB_HOST=database
DJANGO_DB_PORT=5432
DJANGO_CORS_ORIGIN_WHITELIST=http://localhost:8282,http://127.0.0.1:8282
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60

FRONTEND_API_URL=http://localhost:8000/api
BACKEND_PORT=8000
FRONTEND_PORT=8282
POSTGRES_PORT=5432

